body {
  font-family: roboto;
}

h2 {
  color: black;
  text-align: center;
}

.title {
  font-size: 38px;
  margin-bottom: 0px;
}

.description {
  color: #2980B9;
  top: 84px;
  left: 82px;
  position: absolute;
  font-size: 28px;
}

.axis {
  font-family: arial;
  font-size: 0.6em;
}

path {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.tick {
  fill: none;
  stroke: black;
}

.tick line{
  opacity: 0.2;
}

circle {
  opacity: 0.4;
  stroke: none;
}

.line_plot {
  fill: none;
  stroke: #4eb0bb;
  stroke-width: 1px;
}

.titanic-play {
  background: #DDD;
  display: inline-block;
  color: #FFF;
  border-radius: 4px;
  cursor: pointer;
  width: 88px;
  height: 78px;
  position: absolute;
  top: 190px;
  right: 100px;
}

.titanic-play .on {
  font-size: 60px;
  margin: 6px 0px 0px 19px;
  display: block;
}

.titanic-play .off {
  font-size: 46px;
  margin: 7px 0px 0px 16px;
  display: block;
  letter-spacing: -12px;
}

.titanic-play:hover {
  box-shadow: 2px 2px 4px grey;
}

.chart {
  margin-top: 40px;
}

.titanic-filter {
  position: absolute;
  top: 284px;
  right: 60px;
  padding: 10px;
  background-color: #DDD;
  border-radius: 4px;
  width: 108px;
}

.titanic-filter span {
  margin-bottom: 4px;
  display: block;
}

.titanic-filter label {
  display: block;
  padding: 6px;
  margin-left: -6px;
}

.titanic-filter input {
  margin-right: 8px;
}

div.tooltip { 
  position: absolute;
  text-align: center;
  width: 20px;
  padding: 10px;
  text-align: center;
  background-color: #CCC;
  font-size: 12px;
  border: 1px;
  border-radius: 4px;
}